In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/highered.csv')

In [3]:
df.shape

(531216, 126)

In [4]:
df.tail()

,Unnamed: 0,PERSONID,YEAR,WEIGHT,SAMPLE,SURID,MRDG,MR03Y5,NMRMEDR,NMRMEMG,...,ICCOMM,ICTRLA,ICTRLH,ICWBVT,NWFAM,NWLAY,NWNOND,NWOCNA,NWOTP,NWSTU
531211,531212,21809040023330309,2013,9.7670,1002,2,3,2006,449995,4,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
531212,531213,21809040025170902,2013,13.5061,1002,2,3,2006,419295,4,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
531213,531214,21809040025190509,2013,9.2805,1002,2,3,2006,226395,2,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
531214,531215,21809040025230809,2013,10.3592,1002,2,3,2006,547280,5,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
531215,531216,21809040027100609,2013,9.8628,1002,2,3,2006,587995,5,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98

In [8]:
for col in df.columns:
    print(col)

Unnamed: 0
PERSONID
YEAR
WEIGHT
SAMPLE
SURID
MRDG
MR03Y5
NMRMEDR
NMRMEMG
LFSTAT
WRKG
FPTIND
WRKGP
EMSMI
HRSWKGR
WKSWKGR
JOBINS
JOBPENS
JOBPROFT
JOBVAC
PTWTFT
PTFAM
PTNOND
PTOCNA
PTOTP
OCEDRLP
OCSEDRL
EMSEC
EMSIZE
NEWBUS
EMUS
GOVSUP
FSAGR
FSDED
FSDK
FSDOD
FSDOE
FSDOT
FSEPA
FSHHS
FSNASA
FSNIH
FSNSF
FSOT
ACTCAP
ACTDED
ACTMGT
ACTRD
ACTRDT
ACTRES
ACTTCH
WADEV
WADSN
WAEMRL
WAMGMT
WAOT
WAPROD
SUPWK
PAPERS
ARTICLE
PRMBR
PROMTGI
BOOKSP
SALARY
NRREA
NRSEC
NRCHG
NRCON
NRFAM
NRLOC
NROCNA
NROT
NRPAY
JOBSATIS
SATADV
SATBEN
SATCHAL
SATIND
SATLOC
SATRESP
SATSAL
SATSEC
SATSOC
WKTRNI
WTREASN
WTRADV
WTRCHG
WTRCHOC
WTREM
WTRLIC
WTRNEW
WTROPPS
WTROT
WTRPERS
WTRSKL
WTAPRF
WTMGT
WTOT
WTTECH
MGRNAT
MGROTH
MGRSOC
SPNAT
SPOT
SPSOC
CHCHG
CHCON
CHFAM
CHLAY
CHLOC
CHOT
CHPAY
CHRET
CHSCH
ICOLLAB
ICCOMM
ICTRLA
ICTRLH
ICWBVT
NWFAM
NWLAY
NWNOND
NWOCNA
NWOTP
NWSTU

In [5]:
df.describe()

,Unnamed: 0,PERSONID,YEAR,WEIGHT,SAMPLE,SURID,MRDG,MR03Y5,NMRMEDR,NMRMEMG,...,ICCOMM,ICTRLA,ICTRLH,ICWBVT,NWFAM,NWLAY,NWNOND,NWOCNA,NWOTP,NWSTU
count,531216.000000,5.312160e+05,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,...,105064.000000,105064.000000,105064.000000,105064.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000
mean,265608.500000,6.791717e+16,2008.132820,232.275293,806.921324,1.485305,2.001598,1989.843124,475942.620032,4.230213,...,78.818787,78.703562,78.736189,78.732601,83.484483,83.475526,83.492984,83.481531,83.551228,83.478790
std,153348.994636,4.380479e+16,3.438795,409.307824,142.622619,0.668826,0.943027,38.762857,181563.579399,1.824249,...,38.644287,38.876939,38.811236,38.818469,34.777917,34.799282,34.757625,34.784960,34.618224,34.791497
min,1.000000,2.000000e+16,2003.000000,0.369800,601.000000,1.000000,1.000000,1950.000000,198895.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,132804.750000,2.000904e+16,2006.000000,29.106000,701.000000,1.000000,1.000000,1981.000000,318730.000000,3.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
50%,265608.500000,5.000004e+16,2008.000000,101.752800,801.000000,1.000000,2.000000,1991.000000,459395.000000,4.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
75%,398412.250000,1.101000e+17,2010.000000,262.868850,902.000000,2.000000,3.000000,2001.000000,611995.000000,6.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
max,531216.000000,1.401011e+17,2013.000000,14782.721400,1002.000000,3.000000,5.000000,9999.000000,999999.000000,9.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000

In [8]:
# df['EMSEC'].unique()
df.groupby(['EMSEC'])['EMSEC'].count()

EMSEC
1      34260
2      90334
3      53412
4     274398
98     78812
Name: EMSEC, dtype: int64

In [13]:
df.groupby(['EMSEC','MRDG'])['MRDG'].count()

EMSEC  MRDG
1      1        11497
       2        17105
       3         5219
       4          283
       5          156
2      1        11476
       2        13977
       3        61688
       4         2980
       5          213
3      1        22778
       2        15180
       3        12951
       4         2433
       5           70
4      1       127861
       2        72173
       3        58078
       4        15979
       5          307
98     1        35164
       2        20511
       3        20301
       4         2708
       5          128
Name: MRDG, dtype: int64