In [118]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt

In [119]:
df = pd.read_pickle('../data/highered.pkl')

In [120]:
df.shape

(531216, 126)

In [121]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,PERSONID,YEAR,WEIGHT,SAMPLE,SURID,MRDG,MR03Y5,NMRMEDR,NMRMEMG,LFSTAT,...,ICCOMM,ICTRLA,ICTRLH,ICWBVT,NWFAM,NWLAY,NWNOND,NWOCNA,NWOTP,NWSTU
0,50000030000000003,2003,372.6047,601,1,1,1981,719995,7,1,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
1,50000030000000004,2003,341.7484,601,1,1,1961,719995,7,1,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
2,50000030000000005,2003,522.5629,601,1,1,1966,799995,7,1,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
3,50000030000000006,2003,135.0212,601,1,2,1996,298895,2,1,...,NaN,NaN,NaN,NaN,98,98,98,98,98,98
4,50000030000000104,2003,907.4463,601,1,2,1976,438995,4,3,...,NaN,NaN,NaN,NaN,0,0,0,0,1,0

In [122]:
df.isnull().sum()

PERSONID    0
YEAR        0
WEIGHT      0
SAMPLE      0
SURID       0
           ..
NWLAY       0
NWNOND      0
NWOCNA      0
NWOTP       0
NWSTU       0
Length: 125, dtype: int64

In [123]:
df.describe()

,PERSONID,YEAR,WEIGHT,SAMPLE,SURID,MRDG,MR03Y5,NMRMEDR,NMRMEMG,LFSTAT,...,ICCOMM,ICTRLA,ICTRLH,ICWBVT,NWFAM,NWLAY,NWNOND,NWOCNA,NWOTP,NWSTU
count,5.312160e+05,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,...,105064.000000,105064.000000,105064.000000,105064.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000,531216.000000
mean,6.791717e+16,2008.132820,232.275293,806.921324,1.485305,2.001598,1989.843124,475942.620032,4.230213,1.268002,...,78.818787,78.703562,78.736189,78.732601,83.484483,83.475526,83.492984,83.481531,83.551228,83.478790
std,4.380479e+16,3.438795,409.307824,142.622619,0.668826,0.943027,38.762857,181563.579399,1.824249,0.659893,...,38.644287,38.876939,38.811236,38.818469,34.777917,34.799282,34.757625,34.784960,34.618224,34.791497
min,2.000000e+16,2003.000000,0.369800,601.000000,1.000000,1.000000,1950.000000,198895.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000904e+16,2006.000000,29.106000,701.000000,1.000000,1.000000,1981.000000,318730.000000,3.000000,1.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
50%,5.000004e+16,2008.000000,101.752800,801.000000,1.000000,2.000000,1991.000000,459395.000000,4.000000,1.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
75%,1.101000e+17,2010.000000,262.868850,902.000000,2.000000,3.000000,2001.000000,611995.000000,6.000000,1.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
max,1.401011e+17,2013.000000,14782.721400,1002.000000,3.000000,5.000000,9999.000000,999999.000000,9.000000,3.000000,...,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000

In [124]:
df2 = df.copy()
cols_to_drop = ['WEIGHT','SAMPLE','SURID','WRKG','WRKGP','EMUS','FSAGR','FSDED','FSDK','FSDOD','FSDOE','FSDOT','FSEPA','FSHHS',
                'FSNASA','FSNIH','FSNSF','FSOT','MR03Y5','ICCOMM','ICTRLA','ICTRLH','ICWBVT','NWFAM','NWLAY','NWNOND','NEWBUS',
				'NWOCNA','NWOTP','NWSTU','SPNAT','SPOT','SPSOC','MGRNAT','MGROTH','MGRSOC','WTREASN','WTRADV','WTRCHG','WTRCHOC',
				'WTREM','WTRLIC','WTRNEW','WTROPPS','WTROT','WTRPERS','WTRSKL','WTAPRF','WTMGT','WTOT','WTTECH','SATADV','SATBEN',
				'SATCHAL','SATIND','SATLOC','SATRESP','SATSAL','SATSEC','SATSOC','NRREA','NRSEC'
				]

df2 = df2.drop(cols_to_drop, axis=1)
print(df2.shape)
df2.head()

(531216, 63)

,PERSONID,YEAR,MRDG,NMRMEDR,NMRMEMG,LFSTAT,FPTIND,EMSMI,HRSWKGR,WKSWKGR,...,CHCHG,CHCON,CHFAM,CHLAY,CHLOC,CHOT,CHPAY,CHRET,CHSCH,ICOLLAB
0,50000030000000003,2003,1,719995,7,1,1.0,NaN,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50000030000000004,2003,1,719995,7,1,1.0,NaN,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50000030000000005,2003,1,799995,7,1,1.0,NaN,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50000030000000006,2003,2,298895,2,1,1.0,NaN,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50000030000000104,2003,2,438995,4,3,98.0,NaN,98,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Investigating Variables

We will investigate different variables of interest and assess if they are relevant to the model or not.

### EMSEC: Employer sector. 

1 = 2 year college or other school system, 2 = 4 year college or medical institution, 3 = Government, 4 = Business or industry, 5 = Non-US government, 98 = Logical Skip.

In [125]:
df2.groupby(['EMSEC'])['EMSEC'].count()

EMSEC
1      34260
2      90334
3      53412
4     274398
98     78812
Name: EMSEC, dtype: int64

We will drop the 'skip' values for this column and all proceeding columns with that value, as it does not add any meaningful analysis. We will drop EMSEC values of 5 as well, since we are not interested in a non-US government employment type.

In [126]:
df2 = df2[df2['EMSEC'].isin([1,2,3,4])]
df2.shape

(452404, 63)

### LFSTAT: Labor force status.
1 = employed, 2 = unemployed, 3 = not in labor force.

In [127]:
df2.groupby(['LFSTAT'])['LFSTAT'].count()

LFSTAT
1    452404
Name: LFSTAT, dtype: int64

We will drop values 2 and 3, since we are only interested in survey respondents who were employed at the time of the survey.

In [128]:
df2 = df2[df2['LFSTAT'] == 1]
df2.shape

(452404, 63)

### GOVSUP: Federal government support indicator.
0 = no, 1 = yes.

In [129]:
df2.groupby(['GOVSUP'])['GOVSUP'].count()

GOVSUP
0     346408
1     102498
98      3498
Name: GOVSUP, dtype: int64

In [130]:
df2 = df2[df2['GOVSUP'] != 98]
df2.shape

(448906, 63)

### MRDG: Type of degree, most recent degree.
1 = Bachelor's, 2 = Master's, 3 = Doctorate, 4 = Professional, 5 = Other.

In [131]:
df2.groupby(['MRDG'])['MRDG'].count()

MRDG
1    172121
2    117429
3    137244
4     21373
5       739
Name: MRDG, dtype: int64

We will drop 1, 2, 4, and 5, since we are only interested in respondents with a doctorate.

In [132]:
df2 = df2[df2['MRDG'] == 3]
df2.shape

(137244, 63)

### FPTIND:	Full-time/part-time status

1 = full-time, 2 = part-time

In [133]:
df2.groupby(['FPTIND'])['FPTIND'].count()

FPTIND
1.0    24208
2.0     2617
Name: FPTIND, dtype: int64

We will keep only full-time working repsondents.

In [134]:
df2 = df2[df2['FPTIND'] == 1]
df2.shape

(24208, 63)

In [ ]:
cols_to_drop_98 = ['OCEDRLP']

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
# finding columns in the df which have any null/na values
np.where(pd.isna(df))

In [ ]:
df2[df2['SALARY']==df2['SALARY'].max()]['SALARY'].count()

In [ ]:
plt.hist(df2['SALARY'], bins=50)

In [ ]:
df.hist(bins=15, color='steelblue', edgecolor='black', linewidth=1.0,
              xlabelsize=8, ylabelsize=8, grid=False)

# command to give space b/t diff. plots 
# plt.tight_layout(rect=(0, 0, 1.2, 1.2))

In [ ]:
import matplotlib
corr = df.corr()
corr.style.background_gradient('coolwarm')

In [ ]:
len(df['PERSONID'].unique())

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters=10, random_state=42)
kmeans.fit(df)